.cmn-toggle + div.sl {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

div.cmn-toggle-round + div.sl {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px; }

div.cmn-toggle-round + div.sl:before,
div.cmn-toggle-round + div.sl:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

div.cmn-toggle-round + div.sl:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s; }

div.cmn-toggle-round + div.sl:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s; }

div.switch-on > div.cmn-toggle-round + div.sl:before {
  background-color: #8ce196; }

div.switch-on > div.cmn-toggle-round + div.sl:after {
  margin-left: 60px; }

.on-off-status {
  float: left;
  width: 75px;
  margin-right: 10px; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  padding: 0; }

li {
  list-style: none; }

td, th {
  padding: 1rem;
  border: 1px solid #D9C171;
  color: #4f4215; }

th {
  background-color: #f0efd6; }

table {
  width: 100%; }

.container {
  width: 80%;
  margin: 2% 10%; }

.clearfix {
  overflow: auto; }

.last-reading {
  border-bottom: 3px solid #99bc8e;
  margin-bottom: 2%;
  padding: 1.5rem;
  background-color: #B6CFAE;
  color: #212f1c; }

.last-reading h1 {
  color: black; }

.last-reading li {
  padding: 1rem 1rem;
  font-size: 1.5rem; }

.status {
  border: 1px solid #DBD99E;
  border-bottom-width: 2px;
  color: #D9C171;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px; }

.noUi-horizontal .noUi-handle-upper .noUi-tooltip, .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  bottom: -40px;
  left: -25px;
  width: 80px;
  top: unset; }
