.cmn-toggle + div.sl {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
div.cmn-toggle-round + div.sl {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
div.cmn-toggle-round + div.sl:before,
div.cmn-toggle-round + div.sl:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
div.cmn-toggle-round + div.sl:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
div.cmn-toggle-round + div.sl:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
div.switch-on > div.cmn-toggle-round + div.sl:before {
  background-color: #8ce196;
}
div.switch-on > div.cmn-toggle-round + div.sl:after {
  margin-left: 60px;
}
.on-off-status {
  float:left;
  width: 75px;
  margin-right: 10px;
}